sftp-config.json
/html/app/etc/config.xml
/html/app/etc/local.xml
/html/dev
/html/includes/src
/html/media/catalog
/html/media/css
/html/media/css_secure
/html/media/downloadable/*
!/html/media/downloadable/.htaccess
/html/media/import
/html/media/js
/html/media/tmp
/html/media/wysiwyg
/html/media/.thumbs
/wwhtmlw/nbproject
/html/var/*
!/html/var/.htaccess
